ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	display: inline;
}

.menu_option {
	width: 100px;
	height: 100px; 
}

.sidebar {
	float:left;
}

.content {
	padding-left: 100px;
	max-width: 1000px;
}

.color1 {
	background-color: #FFBBFF;
}
.color2 {
	background-color: #BBFFFF;
}
.color3 {
	background-color: #FFFFBB;
}
.color4 {
	background-color: #BBBBFF;
}